.operations {
    z-index: 1;
    position: absolute;
    bottom: 40px;
    text-align:center;
    width: 100%;
}

label, .background {
    display: inline-block;
    width: 48px;
    height: 48px;
    position: relative;
    padding-right: 5px; /* required for the oval shape */
    margin-right: 5px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    font-size: 32px;
    line-height: 46px;
}

.background {
    background: snow;
}

#btnPlay {
    background: url(images/play.svg) center/35% no-repeat;
    opacity: 0.8;
    padding-left: 2.5px;
}

#btnPlay.active {
    background: url(images/pause.svg) center/35% no-repeat;
    opacity: 0.8;
    padding-left: 0px;
}

#btnMute {
    background: url(images/microphone-slash.svg) center/35% no-repeat;
    opacity: 0.8;
    padding-left: 0px;
}

#btnMute.active {
    background: url(images/microphone.svg) center/35% no-repeat;
    opacity: 0.8;
    padding-left: 1px;
}

#btnStop {
    background: url(images/stop.svg) center/35% no-repeat;
    opacity: 0.1;
    padding-left: 1px;
}

#btnStop.active {
    background: url(images/stop.svg) center/35% no-repeat;
    opacity: 0.8;
    padding-left: 1px;
}

#btnLoop.active {
    background: url('data:image/svg+xml,<svg aria-hidden="false" focusable="false" data-prefix="fas" data-icon="infinity" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-infinity fa-w-20" style=""><path fill="black" d="M 471.1 96 C 405 96 353.3 137.3 320 174.6 C 286.7 137.3 235 96 168.9 96 C 75.8 96 0 167.8 0 256 s 75.8 160 168.9 160 c 66.1 0 117.8 -41.3 151.1 -78.6 c 33.3 37.3 85 78.6 151.1 78.6 c 93.1 0 168.9 -71.8 168.9 -160 S 564.2 96 471.1 96 z M 168.9 320 c -40.2 0 -72.9 -28.7 -72.9 -64 s 32.7 -64 72.9 -64 c 38.2 0 73.4 36.1 94 64 c -20.4 27.6 -55.9 64 -94 64 z m 302.2 0 c -38.2 0 -73.4 -36.1 -94 -64 c 20.4 -27.6 55.9 -64 94 -64 c 40.2 0 72.9 28.7 72.9 64 s -32.7 64 -72.9 64 z M -1 392 L 615 95 M 25 416 L 636 116 L 615 95 L -1 392" class=""></path></svg> ') center/50% no-repeat;
    opacity: 0.8;
    padding-left: 1px;
}

#btnLoop {
    background: url('data:image/svg+xml,<svg aria-hidden="false" focusable="false" data-prefix="fas" data-icon="infinity" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-infinity fa-w-20" style=""><path fill="black" d="M471.1 96C405 96 353.3 137.3 320 174.6 286.7 137.3 235 96 168.9 96 75.8 96 0 167.8 0 256s75.8 160 168.9 160c66.1 0 117.8-41.3 151.1-78.6 33.3 37.3 85 78.6 151.1 78.6 93.1 0 168.9-71.8 168.9-160S564.2 96 471.1 96zM168.9 320c-40.2 0-72.9-28.7-72.9-64s32.7-64 72.9-64c38.2 0 73.4 36.1 94 64-20.4 27.6-55.9 64-94 64zm302.2 0c-38.2 0-73.4-36.1-94-64 20.4-27.6 55.9-64 94-64 40.2 0 72.9 28.7 72.9 64s-32.7 64-72.9 64z" class=""></path></svg> ') center/50% no-repeat;
    opacity: 0.8;
    padding-left: 1px;
}
