.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
    color: #FFF;
    margin: 0px;
    overflow: hidden;
}
.wrapper {
    position: absolute;
    overflow: hidden;
}
